body {
    background-color: #111111;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    height:100%;
    width: 100%;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #171717;
	border-radius: 25px;
	border: none;
}

legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.logo {
    max-height: 100px;
    max-width: 100%;
    object-fit: contain;
}
.whatsapp{
	  cursor: pointer;
    width: 23px;
    height: 23px;
    margin-right: 8px;
}
.dropdown {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    z-index: 100;
  }

  .dropdown div {
    padding: 8px;
    cursor: pointer;
  }

  .dropdown div:hover {
    background: #f0f0f0;
  }
.card {
    background-image: linear-gradient(163deg, #ffe0a6 0%, transparent 100%);
    border-radius: 22px;
    transition: all 0.3s;
    width: 393px;
    height: 90%;
    margin: 4% auto;
}

.card2 {
    border-radius: 0;
    transition: all 0.2s;
    height: 100%;
    width: 100%;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(255, 183, 77, 0.4);
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
	fill: currentColor;
	height: 16;
	width: 16;
}

.field:focus-within {
	background: radial-gradient(
		47.3% 73.08% at 50% 94.23%,
		rgba(255, 224, 166, 0.1) 5%,
		rgba(0, 0, 0, 0) 100%
	);
	-o-border-image: radial-gradient(circle, #ffe0a6 0%, transparent 100%) 1;
	border-image: radial-gradient(circle, #ffe0a6 0%, transparent 100%) 1;
}

.field:focus-within .input-icon {
    stroke: #ffe0a6;
}

.field:focus-within .input-field {
    color: #ffe0a6;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

#remembrance {
	display: flex;
}

.toggle-password, .toggle-confirm-password {
  background: none;
  border: none;
  cursor: pointer;
}

.eye-icon, .eye-off {
	height: 1.3em;
    width: 1.3em;
    fill: none;
	stroke: #ffe0a6;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.eye-off {
	display: none;
}

#error {
    display: none;
    font-style: italic;
    color: red;
    margin-top: -10px;
    font-size: 10px;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #ffe0a6;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.flex-row > div > #label {
    font-size: 14px;
    color: #f1f1f1;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #ffe0a6;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.button-submit {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(255, 193, 103, 0.15);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #a96e18;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff9f0;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffd494;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
    width: 50%;
    align-self: center;
}

.icon {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
    transition-duration: 1.5s;
    filter: brightness(1.2);
}

.button-submit:hover {
    transform: scale(1.05);
    background-color: #ffcc80;
    border-color: #ffe9c1;
    color: #4a2b00;
}

.button-submit:hover .icon {
    transform: rotate(360deg);
    transition-duration: 1.5s;
}

.button-submit:hover::before {
    animation: shine 1.5s ease-out 0.3s forwards;
}

.button-submit::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 248, 222, 0.4),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.5;
    pointer-events: none;
}

.p {
    text-align: center;
    color: #f1f1f1;
    font-size: 14px;
    margin: 5px 0;
}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #333;
    background-color: #2b2b2b;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 0;
}

.btn:hover {
    border: 1px solid #2d79f3;
}

#Layer_1 {
	x: 0%;
	y: 0%;
	height: 20px;
	width: 20px;
}

#Capa_1 {
	height: 20px;
	width: 20px;
	x: 0%;
	y: 0%;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60%, 100% {
        left: 100%;
    }
}
