body{
    background-color: #979e9e;
    
}
#svg{
    justify-content: center;
    display: flex;
    place-items: center;
    align-items: center;
    
    
}
p{text-align: center;
font-size: 28px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(66, 65, 65);
}


#pikachu{ width: 300px;
height: 300px;
display: block;
margin: auto;

place-content: center;}
.cloud1{
    fill: #cad7e6 ;
    stroke: aliceblue;
    stroke-width: 3;
}
.cloud{

    fill:;
}