# Environment variables / secrets
.env

# virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# VSCode / IDE settings (optional)
.vscode/
.vs/

# Sessions
flask_sessions/

# Logs
logs/

# Dataset files
*.zip
*tar*gz
dataset*/*
input/*
output/*

# Kaggle artifacts
kaggle/*

# Binaries
*.bin