# Environment variables / secrets
.env

# Image downloads
/images

# virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# VSCode / IDE settings (optional)
.vscode/

# Sessions
flask_sessions/

# Logs
logs/