volumes:
  Chronicle:
    external: true

networks:
  Yggdrasil:
    external: true

services:
  pidgeotto:
    image: heisodin/pidgeotto:latest
    container_name: Pidgeotto
    environment:
      POSTGRESQL_TABLE_FOR_TASKS: ${POSTGRESQL_TABLE_FOR_TASKS}
      POSTGRESQL_TABLE_FOR_USERS: ${POSTGRESQL_TABLE_FOR_USERS}
      POSTGRESQL_TABLE_FOR_REPORTS: ${POSTGRESQL_TABLE_FOR_REPORTS}
      POSTGRESQL_DBNAME: ${POSTGRESQL_DBNAME}
      POSTGRESQL_USER: ${POSTGRESQL_USER}
      POSTGRESQL_PASSWD: ${POSTGRESQL_PASSWD}
      POSTGRESQL_HOST: ${POSTGRESQL_HOST}
      POSTGRESQL_PORT: ${POSTGRESQL_PORT}
      EMAIL: ${EMAIL}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
    networks:
      - Yggdrasil
    restart: unless-stopped

  celebi:
    image: heisodin/celebi:latest
    container_name: Celebi
    environment:
      POSTGRESQL_TABLE_FOR_TASKS: ${POSTGRESQL_TABLE_FOR_TASKS}
      POSTGRESQL_TABLE_FOR_REPORTS: ${POSTGRESQL_TABLE_FOR_REPORTS}
      POSTGRESQL_DBNAME: ${POSTGRESQL_DBNAME}
      POSTGRESQL_USER: ${POSTGRESQL_USER}
      POSTGRESQL_PASSWD: ${POSTGRESQL_PASSWD}
      POSTGRESQL_HOST: ${POSTGRESQL_HOST}
      POSTGRESQL_PORT: ${POSTGRESQL_PORT}
      EBAY_CLIENT_ID: ${EBAY_CLIENT_ID}
      EBAY_CLIENT_SECRET: ${EBAY_CLIENT_SECRET}
      KAGGLE_USERNAME: ${KAGGLE_USERNAME}
      KAGGLE_KEY: ${KAGGLE_KEY}
      DATASETS_DIR: ${DATASETS_DIR}
    networks:
      - Yggdrasil
    restart: unless-stopped

  zapdos:
    image: heisodin/zapdos:latest
    container_name: Zapdos
    environment:
      POSTGRESQL_TABLE_FOR_TASKS: ${POSTGRESQL_TABLE_FOR_TASKS}
      POSTGRESQL_TABLE_FOR_USERS: ${POSTGRESQL_TABLE_FOR_USERS}
      POSTGRESQL_DBNAME: ${POSTGRESQL_DBNAME}
      POSTGRESQL_USER: ${POSTGRESQL_USER}
      POSTGRESQL_PASSWD: ${POSTGRESQL_PASSWD}
      POSTGRESQL_HOST: ${POSTGRESQL_HOST}
      POSTGRESQL_PORT: ${POSTGRESQL_PORT}
      FLASK_PORT: ${FLASK_PORT}
      FLASK_SECRET_KEY: ${FLASK_SECRET_KEY}
    networks:
      - Yggdrasil
    restart: unless-stopped